<h1>What is POSTJot</h1>
<p>This is a Node/Express app for jotting down future blog posts and other such ideas.</p>
<p>Version: 1.0.0</p>
 <p>Already a member? <a href="/users/login" class="btn btn-success mt-2">Login</a></p>
